.intro{
    width: 100%;
    position: relative;
    background: url(intro-bg.png) center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 275px 0;
    @media (max-width: 500px) {
        padding: 70px 0 75px 0;


    }

}

.btnWork{
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-transform: capitalize;
    margin-top: 30px;
    background-size: 300% 100%;
    background-image: linear-gradient(131deg, #ffbb00, #ff972b, #ffa133, #ffa133);
}

.popupYoutube{
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(1, 84, 85, 0.2);
    color: #fe9c6f;
    margin-left: 37px;
    margin-right: 18px;
    padding-left: 5px;
}

.introContainer{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;

    @media (max-width: 500px) {
   
        display: flex;
        flex-direction:column-reverse;
        padding-left: 5%;
        padding-right: 5%;
        padding: 50px 0 75px 0;

     
        .introTitle{
            margin-top: 40px;
            font-size: 25px;
            margin-bottom: 0px;
            line-height: 36px;
            text-align: center;
            
        }

    }

}

.introTitle{
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-family: "Aleo";
    font-weight: 800;
    line-height: 69px;
}
  
 