.sectionTitle{

    font-size: 36px;
    color: #333;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-family: "Aleo";
    }

    .icon{
        font-size: 65px;
        color: orange;
        text-align: center;
    
    }

    .name{    
        font-family: aleo;
        padding: 5px;
        color: #5c93ce;
        margin-bottom: -5px;
        font-size: 25px;
    }

    .company{ 
        padding: 5px;
        color: #333;
        margin-bottom: -5px;}

    .role{
    padding: 5px;
    color: #333;
    }