
    .bg2 {
        padding: 0px 0px 140px !important;
        background-image: url(./about_overlay2.png);
        background-repeat: no-repeat;
        background-position: initial;
        background-size: 30%;
    }
    .aboutTextContainer2{
        margin-top: 100px;
    }

    .aboutTitle2{
        line-height: 1.25;
        margin-top: 30px;
        color: #5c93ce;
        font-family: "Aleo";
        font-weight: bold;
    }
    .aboutText2{
        font-family: "Open Sans", sans-serif;
        line-height: 1.929;
        font-size: 15px;
        margin-bottom: 0px;
        color: #646464;
    }